/*
bootstrap override BEGIN
*/
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, footer, .container-fluid, .container {
    padding-left: 0;
    padding-right: 0;
}
body {
    font-family: 'Didact Gothic', sans-serif;
}

html,
body {
    min-height: 100%;
    /*padding-bottom: 100px;*/
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.btn {
    border-radius: 0;
    border-color: #5bb12a;
}
.btn-default:active  {
    background-color: #5bb12a;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus {
    background-color: white!important;
    border-color: #5bb12a;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,177,42,.6);
}
.form-control {
    border-radius: 0;
    border-color: #5bb12a;
}
.form-control:focus {
    border-color: #5bb12a;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,177,42, .6);
}
a {
    color: #5bb12a;
}
a:hover, a:focus { 
    color: #5bb12a;
}
.thumbnail {
    width: 100%;
    border-radius: 0;
    padding: 5px;
    margin-bottom: 0;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

/*
bootstrap override END 
*/

/*HEADER*/
.nsp-header {
    background-color: white;
    border: none;
    border-bottom: solid 1px #5bb12a;
    border-radius: 0;
}
.nsp-header .navbar-brand {
    height: auto;
    padding: 0;
}
.nsp-header .navbar-header {
    margin: 0;
}
.nsp-header.navbar-default .navbar-nav > li > a {
    padding: 10px;
}
.nsp-header.navbar-default .navbar-nav > .active > a, 
.nsp-header.navbar-default .navbar-nav > .active > a:hover, 
.nsp-header.navbar-default .navbar-nav > .active > a:focus {
    padding: 10px;
    background-color: #5bb12a;
    font-weight: bold;
    color: white;
    /*border: solid 1px #5bb12a;*/
}
.navbar {
    min-height: 0;
}
.navbar-nav {
    margin: 0;
}
.navbar-form {
    margin: 0;
}
.nsp-header.navbar-default .navbar-nav.nsp-social > li > a > img {
    height: 19px;
    width: auto;
}
/*LOGO AND CONSULTANT BLOCK*/
.nsp-lc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nsp-logo {
    flex-basis: 45%;
}
.nsp-consultant {
    flex-basis: 45%;
}
.nsp-logo img {
    width: 100%;
    height: auto;
    padding: 10px;
}
.nsp-logo > a > img {
    width: 100%;
}
.nsp-consultant {
    /*display: flex;*/

}
.nsp-consultant h3 {
    line-height: 1;
    margin: 5px;
}
.logout {
    padding: 10px;
    border: none;
    margin-right: -15px;
    transition: 1s;
}
.logout:hover {
    box-shadow: -1px 0px 0px 0px #5bb12a;
    /*border-left: solid 1px #5bb12a;*/
}
@media (max-width: 767px) {
    .nsp-lc {
        flex-wrap: wrap;
        justify-content: center;
    }
    .nsp-logo {
        flex-basis: 90%;
        text-align: center;
    }
    .nsp-consultant {
        flex-basis: 90%;
        text-align: center;        
    }
}
/*HEADER CATALOG*/ 
.nsp-header-categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.nsp-header-categories a {
    border: solid 1px #ccc;
    padding: 10px;
    flex-basis: 30%;
    text-align: center;
}
a.nsp-header-category-active {
    background-color: #5bb12a;
    color: white;
    font-weight: bold;
    cursor: default;
}
a:hover.nsp-header-category-active {
    text-decoration: none;
}
/*SEARCH*/
.nsp-search {
    padding: 10px;
}
.nsp-search-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nsp-search-form-input {
    flex-basis: 88%
}
.nsp-search-form button {
    flex-basis: 11%;
}
@media (max-width: 767px) {
    .nsp-search-form-input {
        flex-basis: 75%
    }
    .nsp-search-form button {
        flex-basis: 23%;
    }
}
/*FOOTER*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,.7);
    border-top: solid 1px #5bb12a;
    text-align: center;
    padding: 20px;
}
/*NSP DESIGN*/
body {
    /*font-family: 'Exo 2', sans-serif;*/ 
    /*font-family: 'Lobster Two', cursive;*/ 
    /*font-family: 'Philosopher', sans-serif;*/ 
    /*font-family: 'Didact Gothic', sans-serif;*/
    /*font-family: 'Anonymous Pro', monospace;*/ 
    font-family: 'Kurale', serif; 
}

.nsp-wrap {
    width: 100vw;
    min-height: 100vh;
}
.nsp-design {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#f9f9f9 50%, #5bb12a 50%, #5bb12a 100%);
    padding: 50px;
}
.nsp-design-canvas {
    background-color: white;
    width: calc(100wv - 100px);
    height: calc(100vh - 100px);
    padding: 100px;
    background-image: linear-gradient(50deg, white 40%, #deffcb 40%, #deffcb);
    background-size: cover;
    background: white url('/web/images/clover-back-2.png');
}
.nsp-design-canvas-border {
    display: flex;
    border-width: 2px;
    border-style: solid;
    /*border-color: #5bb12a;*/
    border-image: linear-gradient(transparent 40%, #5bb12a 40%, #5bb12a) 0 0 0 100%;
    /*border-image: linear-gradient(to right, white 40%, #5bb12a 40%, #5bb12a) 100% 0 0 0;*/
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
}
.nsp-design-canvas-border > div {
    flex-basis: 100%;
}
.nsp-design-canvas-logo img {
    width: 60%;
}
.nsp-design-canvas-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-right: solid 2px #5bb12a;
}
.nsp-design-canvas-icons a {
    flex-basis: 100%;
    text-align: center;
    padding: 10px;
}
.nsp-design-canvas-icons a span {
    text-align: center;
    font-size: 20px;
    color: #5bb12a;
    transition: .2s;
}
.nsp-design-canvas-icons a:hover span {
    transform: scale(1.2);
    text-shadow: 1px 1px 1px #ccc;
}
.nsp-design-canvas-text {
    padding-top: 20px;
}
.nsp-design-canvas-second {
    display: flex;
    align-items: center;
    background-image: url('/web/images/bottle2.png');
    background-repeat: no-repeat;
    background-position: 75% bottom;
    background-size: contain;
}
.nsp-design-canvas-image {
    padding: 20px;
}
.nsp-design-round {
    /*    float: right;
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
        background-color: #afff82;*/
    /*display: none;*/
}
/*.nsp-design-canvas img {
    width: 100%;
    transform: scale(1.1);
    filter: drop-shadow(2px 3px 5px #ccc);
    transition: 3s;
}*/
.nsp-design-canvas img:hover {
    filter: drop-shadow(-4px 3px 5px #ccc);
}
.nsp-design-canvas-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 20px;
}

.nsp-design-canvas-btn {
    flex-basis: 100%;
    padding: 10px;
    text-align: center;
    border: solid 1px #5bb12a;
    /*background: repeating-linear-gradient(45deg, white, white 5px, #5bb12a 5px, #5bb12a 6px);*/
    background: rgba(255,255,255,.7) url('/web/images/clover25.png');
    margin-top: 10px;
    font-size: 20px;
    transition: .2s;
    color: #297100;
    transform: scale(0.95);
}
.nsp-design-canvas-buttons a:hover, .nsp-design-canvas-buttons a:focus {
    transform: scale(1);
    text-decoration: none;
    color: #297100;
    text-shadow: 0px 0px 0px #297100;
}
@media (max-width: 1023px){
    .nsp-design {
        padding: 20px;
    }    
    .nsp-design-canvas {
        height: calc(100vh - 40px);
    }
    .nsp-design-canvas {
        padding: 40px;
    }
    .nsp-design-canvas-text {
        padding-left: 20px;
    }
}
@media (max-width: 767px) {
    .nsp-design {
        padding: 20px;
    }
    .nsp-design-canvas {
        height: calc(100vh - 40px);
        padding: 20px;
    }
    .nsp-design-canvas-logo img {
        width: 85%;
    }
    .nsp-design-canvas-btn {
        padding: 1px;
        margin-top: 3px;
    }
}
@media (max-width: 767px) and (orientation: landscape) {
    .nsp-design-canvas-logo img {
        width: 50%;
    }
    .nsp-design-canvas-btn {
        padding: 1px;
        margin-top: 3px;
    }
    .nsp-design-canvas-text {
        padding-top: 5px;
    }
}
@media (max-width: 375px) and (orientation: portrait) {
    .nsp-design-canvas-btn {
        margin-top: 25px;
    }
    .nsp-design-canvas-second {
        background-image: url('/web/images/bottle2-vert.png');
    }
}
/*PRICE MAIN*/
.nsp-price .nav-pills > li.active > a, 
.nsp-price .nav-pills > li.active > a:hover, 
.nsp-price .nav-pills > li.active > a:focus {
    background-color: #5bb12a;
    border-bottom-color: #5bb12a;
}
.nsp-price .nav-tabs.nav-justified > li > a {
    border-radius: 0;
}
#price-title {
    min-height: 50vh;
    background-image: url('/web/images/salad-04.jpg');
    background-size: cover;
    background-position: center center;
}
#fito, #care, #decor {
    min-height: 50vh;
    padding: 20px;
    border: solid 1px #5bb12a;
}

/*ADMIN*/
.admin h1, .admin h2, .admin h3, .admin h4, .admin h5, .admin h6 {
    padding-left: 15px;
} 
/*PRODUCT LIST*/
.nsp-category {
    margin: 20px 0;
    border-top: solid 1px #5bb12a;
    border-bottom: solid 1px #5bb12a;    
    box-shadow: 0px 0px 2px 1px #ccc;
    padding: 10px;
}
.nsp-products {
    padding: 10px;
}
.nsp-products-filters {
    padding: 5px;
}
.nsp-products-filters .panel-group .panel {
    border-radius: 0;
}
.nsp-products-filters a {
    text-decoration: none;
}
.nsp-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nsp-product-list-item {
    flex-basis: 23%;
    text-align: center;
    border: solid 1px #5bb12a;
    padding: 3px;
    transition: .5s;
    margin-top: 10px;
}
.nsp-product-list-item:hover {
    box-shadow: 1px 1px 5px 2px #ccc;
}
/*.nsp-product-list-item h3 {
    text-align: center;
}*/
.nsp-product-list-item-inner {
    min-height: 200px;
}
.nsp-product-list-item-inner img {
    width: 60%;
    height: auto;
}
@media (max-width: 767px) {
    .nsp-product-list-item {
        flex-basis: 45%;
    }
}
/*PRODUCT*/
.nsp-product {

}
.nsp-product h3 {
    color: #5bb12a;
    padding: 10px;
}
.nsp-product-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nsp-product-description-txt {
    flex-basis: 100%;   
}
.nsp-product-description-img {
    flex-basis: 40%;
    border: solid 1px #5bb12a;
}
.nsp-product-description-img img {
    width: 100%;
    padding: 10px;
} 
.nsp-product-slider {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: solid 1px #5bb12a;
    border-bottom: solid 1px #5bb12a;
    margin: 20px 0 10px 0;
}
.nsp-product-slider a {
    flex-basis: 20%;
    margin: 5px 0;
}
.nsp-product ul {
    list-style: none;
    margin-left: -40px;
}
.nsp-product ul li {
    display: flex;
    align-items: center;
    /*justify-content: flex-start;*/
    text-align: left;
    padding: 5px;
}
.nsp-product ul li:before {
    content: "\2714";
    color: #5bb12a;
    background: transparent;
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    /*flex-basis: 20px;*/
}
.nsp-img-mini {
    float: right;
}
@media (max-width: 767px) {
    .nsp-product {

    }
    .nsp-product-description {
        align-content: flex-start;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .nsp-product-description-txt {
        flex-basis: 100%;
        margin-top: 20px;           
    }
    .nsp-product-description-img {
        flex-basis: 100%;
    }
    .nsp-img-mini {
        width: 100%;
    }
}
/*CATALOG*/
.nsp-catalog {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}
.nsp-catalog a {
    flex-basis: 33.33333%;    
    height: 100%;
    display: flex;
    align-content: center;
}
.nsp-catalog a:hover, .nsp-catalog a:focus {
    text-decoration: none;
}
.nsp-catalog-item {
    height: 100%;
    flex-basis: 100%;
    font-size: 30px;
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:nth-of-type(1) .nsp-catalog-item {
    background-image: url('/web/images/clover-1.jpg');
}
a:nth-of-type(2) .nsp-catalog-item {
    background-image: url('/web/images/clover-2.jpg');    
}
a:nth-of-type(3) .nsp-catalog-item {
    background-image: url('/web/images/clover-3.jpg');    
}
.nsp-catalog-item-title {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(255,255,255,.7);
    font-weight: 500;
    transition: .7s;
    flex-basis: 100%;
}
a:hover .nsp-catalog-item:hover .nsp-catalog-item-title {
    background-color: rgba(0,0,0,.5);
}
@media (orientation: portrait) {
    .nsp-catalog a {
        flex-basis: 100%;    
        height: 33.33333%;
    }
    .nsp-catalog {
        height: calc(100vh - 60px);
    }
    .nsp-catalog-item {
        border-bottom: solid 1px #ccc;
    }
    .nsp-catalog-item-title {
        height: auto;
    }
}
/*FILTERS*/
.table-fltrs td:last-child, .table-fltrs td:first-child {
    width: 10%;
}
.table-fltrs td:last-child {
    text-align: right;
}

/*POSTS*/
.nsp-posts-list {
    padding: 10px;

}
.nsp-posts-item {
    border: solid 1px #5bb12a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.nsp-posts-item:hover {
    box-shadow: 1px 1px 5px 2px #ccc;
}
.nsp-posts-item img {
    flex-basis: 20%;
}
.nsp-posts-item-text {
    flex-basis: 75%;
}

/*POST VIEW*/
.nsp-post-description {
    border-left: solid 2px #5bb12a;
    padding: 10px;
    padding-left: 25px;
    margin-left: 40px;
    font-style: italic;
}
.nsp-post-body {
    text-align: justify;
    padding: 30px 10px;
}
.post-disabled {
    display: none;
}


/*CONTACT*/
.nsp-contact {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 122px);
    text-align: center;
    justify-content: center;
    align-items: flex-end;
/*    background-image: url('/web/images/clover-back-2.png');*/
}
.nsp-contact-layout {
    background-image: url('/web/images/clover-back-2.png');
}
.nsp-contact h1 {
    margin: 0;
    text-align: center;
    font-weight: 700;
    color: #5bb12a;
}
.nsp-contact-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 100%;
}
.nsp-contact-item {
    border: solid 1px #5bb12a;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100px;
    flex-basis: 25%;
    transition: .5s;
}
.nsp-contact-item:hover {
    box-shadow: 1px 1px 5px 2px #ccc;
}
.nsp-contact-item a {
    font-size: 30px;
}
.nsp-contact-item h4, .nsp-contact-item a {
    flex-basis: 100%;
}
.nsp-contact-social a {
    padding: 0 10px;
    height: 20px;
}
.nsp-contact-social a img {
    width: auto;
    height: 25px;
}
.nsp-contact-logo {
    padding: 30px;
    background-image: url('/web/images/logo-full-600.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 20px 0;
}
@media (max-width: 767px) {
    .nsp-contact-logo img {
        width: 100%;
    }
    .nsp-contact-logo {
        background-image: url('/web/images/logo-sq400.png');
    }
    .nsp-contact-social {
        padding-top: 40px; 
    }
    .nsp-contact-item {
        flex-basis: 100%;
        margin-top: 20px;
    }
}
/*button[name='submit-button'] {
    width: 30%;
}*/